<html>
	<head>
		<script src="jscolor.js"></script>
		<script src="jquery-1.12.2.min.js"></script>
	</head>
	<body>
		<img id="crayons" src="crayontexture.png" hidden> 
		<p>
		Color: <input id="color" class="jscolor" value="ab2567">
		</p>
		<p>
		Size   	:	
		<input id="size" value="10"> 
		<button id="a">Normal</button> 
		<button id="b">Large</button> 
		<button id="c">Huge</button>
		</p>
		<p>
		Tools	:
		<button id="A">Eraser</button> 
		<button id="B">Marker</button> 
		<button id="C">Crayon</button> 
		</p>
		<button id="clear">Clear</button><br/><br/>
		<canvas id="paint" width="490" height="220" style="border:1px solid #c3c3c3;"></canvas>
		<script src ="canvas.js"> </script>
	</body>
</html>